@import "./variables.scss";
@import "./mixins.scss";

/* 公用样式 */

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  min-width: 1200px;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    PingFang SC,
    Hiragino Sans GB,
    Heiti SC,
    Microsoft YaHei,
    WenQuanYi Micro Hei,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  color: $base-color;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="checkbox"] {
  padding: 0;
  outline: none;
  border: none;
  appearance: none;
  &::placeholder {
    color: #ccc;
  }
}

a {
  text-decoration: none;
  color: $base-color;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

.clickable {
  cursor: pointer;
}

.v-link {
  color: $base-color;
  letter-spacing: 1px;
  transition: all 0.2s ease;

  cursor: pointer;

  &:hover {
    color: $active-color;
  }

  &.active {
    color: $active-color;
    &.hover:hover {
      color: $active-light-color;
    }
  }

  &.dark {
    color: $dark-color;
    &:hover {
      color: $active-color;
    }
  }

  &.light {
    color: $light-color;
    &:hover {
      color: $active-color;
    }
  }
}

.title {
  letter-spacing: 1px;
  @include font($dark-color, 16px, 700);
}

//margin
@for $i from 1 through 20 {
  .mr-#{$i*5} {
    margin-right: 5px * $i;
  }
  .mt-#{$i*5} {
    margin-top: 5px * $i;
  }
  .ml-#{$i*5} {
    margin-left: 5px * $i;
  }
  .mb-#{$i*5} {
    margin-bottom: 5px * $i;
  }
}

//padding
@for $i from 1 through 20 {
  .pr-#{$i*5} {
    padding-right: 5px * $i;
  }
  .pt-#{$i*5} {
    padding-top: 5px * $i;
  }
  .pl-#{$i*5} {
    padding-left: 5px * $i;
  }
  .pb-#{$i*5} {
    padding-bottom: 5px * $i;
  }
}

//font-weight
@for $i from 1 through 7 {
  .fw-#{$i*100} {
    font-weight: 100 * $i;
  }
}

//font-size
@for $i from 6 through 48 {
  .fs-#{$i*2} {
    font-size: 2px * $i;
  }
}

//icon基础样式
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
