.v-search {
  &.el-autocomplete {
    height: 40px;
    width: 100%;
    box-shadow: 0 1px 0 #eee;
    transition: all 0.5s ease;
    border-radius: 0;
    &:hover {
      box-shadow: 0 1px 0 #ddd;
    }

    &:before {
      content: "";
      width: 0px;

      border-bottom: 1px solid $active-color;
      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      transition: all 0.3s ease;
    }
    &.is-focus {
      box-shadow: none !important;
      &:before {
        width: 100%;
      }
    }

    .el-input {
      height: 100%;
      .el-input-group__append,
      .el-input-group__prepend,
      .el-input__wrapper {
        background-color: transparent;
        box-shadow: none;
      }
      .el-input__wrapper {
        padding: 0;
        .el-input__inner {
          height: 100%;
        }
      }
    }
  }
}

.v-form {
  .el-input {
    .el-input__wrapper {
      padding: 0;
      box-shadow: 0 1px 0 #eee !important;
      transition: all 0.5s ease;
      border-radius: 0;
      &:hover {
        box-shadow: 0 1px 0 #ddd;
      }

      &:before {
        content: "";
        width: 0px;
        border-top: 2px solid $active-color;
        position: absolute;
        left: 50%;
        bottom: -1px;
        transform: translate(-50%);
        transition: all 0.3s ease;
      }
      &.is-focus {
        &:before {
          width: 100%;
        }
      }
    }
  }

  .el-select {
    .el-input {
      .el-input__wrapper {
        padding: 0;
        box-shadow: 0 1px 0 #eee;
        transition: all 0.5s ease;
        border-radius: 0;
        &:hover {
          box-shadow: 0 1px 0 #ddd;
        }

        &:before {
          content: "";
          width: 0px;
          border-top: 2px solid $active-color;
          position: absolute;
          left: 50%;
          bottom: -1px;
          transform: translate(-50%);
          transition: all 0.3s ease;
        }
        &.is-focus {
          box-shadow: none !important ;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  .el-form-item.is-error {
    .el-input__wrapper.is-focus {
      box-shadow: 0 1px 0 #eee !important;
    }
    .el-select .el-input.is-focus .el-input__wrapper {
      box-shadow: 0 1px 0 #eee !important;
    }
  }
}
